@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans&family=Poppins:wght@200&display=swap');
@import './case-studies';
@mixin font($size, $color, $weight, $family){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}
@mixin flex($display, $justify, $align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}
@mixin background($url, $position, $size){
    background-image: $url;
    background-position: $position;
    background-size: $size;
}
//colors sceme
$primary-color: black;
$secondary-color : white;
body{
    // @include flex(flex, center , center );
    // flex-direction: column;
    // max-width: 100%;
    background-color: $primary-color;
    
    color: $secondary-color;
}
*{
    margin: 0;
    padding: 0;
}

.container{
    @include flex(flex, center , center );
    flex-direction: column;
    gap: 50px;
    max-width: 100%;
    width: 800px;
    min-height: 80vh;
    padding: 2% ;
    margin: auto;
    .head{
        @include flex(flex,center ,center );
        flex-direction:column;
    }
    h1{
        @include font(clamp(2.8rem, 4.7vw, 6rem),$secondary-color ,500 ,'Noto Sans' )
    }
    .tag{
        @include font(clamp(1.5rem, 4.7vw, 0.8rem),$secondary-color ,500 ,'Noto Sans' ) 
    }
    img{
        width: 250px;
        height: 250px;
    }
    .description{
        display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    padding: 4%;
 
    max-width: 800px;
    overflow: hidden;
    
    font-size: 16px;
    
    /* Allow the content to shrink */
    flex: 1 1 auto
        
    }

}
.home-container{
    @include flex(flex,start ,center );
    flex-direction:column;
    width: 100%;
    min-height: 100vh;
   
    .navbar{
     width: 100%;
        @include flex(flex,end ,center );
        margin-right: 20%;
       
        ul{
            @include flex(flex, space-between , center );
            gap: 30px;
            .nav-item{
                list-style: none;
                a{
                    text-decoration: none;
                    color: rgb(150, 149, 149);
                    text-transform: capitalize;
                    font-family: 'noto sans';
                }
            }
            
        }

    }
}
.toggle-btn {
    border: none;
    opacity: 0;
    color: white;
    background-color: $primary-color;
}
// .about-container{
//     height: 100vh;
// }
// .contact-container{
//     height: 100vh;
// }
.page {
    display: none;
  }
  .page.active {
    display: block;
  }
@media only screen and (max-width: 450px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center; /* Align items to the start (top) of the column */
        gap: 10px; /* Add some spacing between items */
        padding-left: 0; /* Remove default padding from list */
    }

    .nav-item {
        display: none;
    }

    .toggle-btn {
        opacity: 1;
        display: flex;
        justify-content: flex-end;
    }
    .navbar{
        margin-right: 0 !important;
        justify-content: space-between !important;
    }
}

// @media only screen and (min-width: 500px) {
   
// }

// @media only screen and (min-width: 990px) {
   
// }
