@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans&family=Poppins:wght@200&display=swap");
p {
  margin-bottom: 0 !important;
}

.toggle-btn {
  border: none;
  opacity: 0;
  color: white;
  background-color: transparent;
}

.top {
  margin-top: 60px;
}

.citizen-pr {
  background-color: white;
  color: black;
}

.navbar {
  display: flex;
  max-width: 100%;
  justify-content: end;
  align-items: center;
  padding: 1% 10% 0 0;
  background-color: #000;
  transition: background-color 0.3s;
  min-height: 70px;
}
.navbar ul {
  display: flex;
  gap: 30px;
}
.navbar ul .nav-item {
  list-style: none;
}
.navbar ul .nav-item a {
  text-decoration: none;
  color: #d31b1b;
  text-transform: capitalize;
  font-family: "noto sans";
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper a {
  position: absolute;
  top: 92%;
  left: 27%;
  font-size: 2rem;
  color: rgb(61, 61, 61);
}

.citizen {
  max-width: 100%;
}

.up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6% 4% 2% 4%;
}
.up p {
  padding: 8px 11px;
  border-left: 4px solid #37352f;
  font-family: "noto sans";
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
}

.down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 4% 3% 4%;
}
.down p {
  padding: 8px 11px;
  border-left: 4px solid #37352f;
  font-family: "noto sans";
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
}

.points {
  max-width: 100%;
  padding: 0 12%;
}
.points .points-head {
  font-family: "noto sans";
  font-size: 2rem;
  font-weight: 800;
  color: black;
  border-bottom: 3px solid #e4e2e0;
  padding: 6px;
}
.points .sub-head {
  margin-top: 90px;
  font-family: "noto sans";
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}
.points .text {
  margin-top: 10px;
  padding: 0 11px;
  font-family: "noto sans";
  font-size: 1.3rem;
  font-weight: 300;
  color: black;
}
.points .border-side {
  margin-top: 60px;
  font-family: "noto sans";
  font-size: 1.8rem;
  font-weight: 300;
  color: black;
  padding: 0 11px;
  border-left: 4px solid #37352f;
}

.design {
  margin-top: 70px;
}
.design h3 {
  font-family: "noto sans";
  font-size: 2rem;
  font-weight: 800;
  color: black;
  border-bottom: 3px solid #e4e2e0;
  padding: 6px;
  text-transform: capitalize;
  margin-bottom: 80px;
}

.text-design {
  font-family: "noto sans";
  font-size: 1.3rem;
  font-weight: 300;
  color: black;
}

.thirt-text {
  margin: 8% 0 4% 0;
}

.parent {
  margin: 5% 0;
}
.parent .head-block {
  padding: 4% 8%;
  background-color: #e9f4f9;
}
.parent .head-block p {
  font-family: "noto sans";
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}
.parent .points-li {
  font-family: "noto sans";
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  padding: 8%;
}
.parent .points-li p {
  margin-bottom: 7%;
}

.one-line {
  background-color: #e9f4f9;
  margin: 1% 0;
  padding: 4px 6px;
}

.this {
  font-family: "noto sans";
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
}

.all-line {
  background-color: #e9f4f9;
  margin: 6% 0;
  padding: 4px 6px;
}

.main-q {
  margin-top: 10%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.text-q {
  font-family: "noto sans";
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  max-width: 500px;
  margin-bottom: 10%;
}

.define {
  margin-top: 60px;
}

.prototype {
  margin-top: 20px;
}

.tasks {
  font-family: "noto sans";
  font-size: 1.4rem;
  font-weight: 700;
  color: black;
  margin-top: 60px;
}

.butons {
  min-height: 300px;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-bottom: 50px;
}
.butons p {
  font-family: "noto sans";
  font-size: 1.4rem;
  font-weight: 700;
  color: black;
  margin-top: 60px;
}

.foward {
  background-color: #bfbfbf;
  border-style: none;
  padding: 20px 22px;
  margin: 20px 0 0 20px;
  border-radius: 50%;
  position: relative;
  top: 18px;
}
.foward a {
  color: black;
}

.emd {
  display: flex;
  justify-content: end;
}

.key {
  padding: 8% 7%;
}

.use {
  font-family: "noto sans";
  font-size: 2rem;
  font-weight: 800;
  color: rgb(75, 74, 74);
  border-bottom: 3px solid #e4e2e0;
  padding: 6px;
  margin: 7% 0 4% 0;
  text-transform: uppercase;
}

.click {
  font-family: "noto sans";
  font-size: 1.5rem;
  font-weight: 400;
  color: #e9b761;
  border-left: 4px solid #000000;
  padding: 6px;
  margin-bottom: 3%;
}

.heading {
  font-family: "noto sans";
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin: 4% 0 2% 0;
}

.two {
  font-family: "noto sans";
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 2%;
}

.parent-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  margin: 5% 0;
}
.parent-2 p {
  margin-top: 6%;
}
.parent-2 .head-block-2 {
  padding: 4% 8%;
  background-color: #fdebec;
}

.disable {
  display: none;
}

@media only screen and (max-width: 450px) {
  .parent {
    grid-template-columns: 1fr;
  }
  .wrapper a {
    font-size: 0.5rem;
  }
  p {
    font-size: 0.6rem !important;
  }
  h3 {
    font-size: 1.2rem !important;
  }
  .points .sub-head {
    margin-top: 42px;
  }
  .up, .down {
    padding: 6% 0 2% 0;
  }
  .up p, .down p {
    border-left: 2px solid #37352f;
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper a {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.8rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
}
body {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  max-width: 100%;
  width: 800px;
  min-height: 80vh;
  padding: 2%;
  margin: auto;
}
.container .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  font-family: "Noto Sans";
  font-size: clamp(2.8rem, 4.7vw, 6rem);
  font-weight: 500;
  color: white;
}
.container .tag {
  font-family: "Noto Sans";
  font-size: clamp(1.5rem, 4.7vw, 0.8rem);
  font-weight: 500;
  color: white;
}
.container img {
  width: 250px;
  height: 250px;
}
.container .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding: 4%;
  max-width: 800px;
  overflow: hidden;
  font-size: 16px;
  /* Allow the content to shrink */
  flex: 1 1 auto;
}

.home-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.home-container .navbar {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20%;
}
.home-container .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.home-container .navbar ul .nav-item {
  list-style: none;
}
.home-container .navbar ul .nav-item a {
  text-decoration: none;
  color: rgb(150, 149, 149);
  text-transform: capitalize;
  font-family: "noto sans";
}

.toggle-btn {
  border: none;
  opacity: 0;
  color: white;
  background-color: black;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

@media only screen and (max-width: 450px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the start (top) of the column */
    gap: 10px; /* Add some spacing between items */
    padding-left: 0; /* Remove default padding from list */
  }
  .nav-item {
    display: none;
  }
  .toggle-btn {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
  }
  .navbar {
    margin-right: 0 !important;
    justify-content: space-between !important;
  }
}/*# sourceMappingURL=style.css.map */