@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans&family=Poppins:wght@200&display=swap");
.citizen-pr {
  background-color: white;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper a {
  position: absolute;
  top: 92%;
  left: 27%;
  font-size: 2rem;
  color: rgb(61, 61, 61);
}

.citizen {
  max-width: 100%;
}

.up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4%;
}
.up p {
  padding: 8px 11px;
  border-left: 4px solid #37352f;
  font-family: "noto sans";
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
}

.down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4% 4% 0 4%;
}
.down p {
  padding: 8px 11px;
  border-left: 4px solid #37352f;
  font-family: "noto sans";
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
}

.points {
  max-width: 100%;
  padding: 0 12%;
}
.points .points-head {
  font-family: "noto sans";
  font-size: 2rem;
  font-weight: 800;
  color: black;
  border-bottom: 3px solid #e4e2e0;
  padding: 6px;
}
.points .sub-head {
  margin-top: 90px;
  font-family: "noto sans";
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}
.points .text {
  margin-top: 10px;
  padding: 0 11px;
  font-family: "noto sans";
  font-size: 1.3rem;
  font-weight: 300;
  color: black;
}
.points .border-side {
  margin-top: 60px;
  font-family: "noto sans";
  font-size: 1.8rem;
  font-weight: 300;
  color: black;
  padding: 0 11px;
  border-left: 4px solid #37352f;
}

.design {
  margin-top: 70px;
}
.design h3 {
  font-family: "noto sans";
  font-size: 2rem;
  font-weight: 800;
  color: black;
  border-bottom: 3px solid #e4e2e0;
  padding: 6px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.design .text-design {
  margin-top: 10px;
  font-family: "noto sans";
  font-size: 1.3rem;
  font-weight: 300;
  color: black;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 450px) {
  .wrapper a {
    font-size: 0.8rem;
  }
}
body {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  max-width: 100%;
  width: 800px;
  min-height: 80vh;
  padding: 2%;
  margin: auto;
}
.container .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  font-family: "Noto Sans";
  font-size: clamp(2.8rem, 4.7vw, 6rem);
  font-weight: 500;
  color: white;
}
.container .tag {
  font-family: "Noto Sans";
  font-size: clamp(1.5rem, 4.7vw, 0.8rem);
  font-weight: 500;
  color: white;
}
.container img {
  width: 250px;
  height: 250px;
}
.container .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding: 4%;
  max-width: 800px;
  overflow: hidden;
  font-size: 16px;
  /* Allow the content to shrink */
  flex: 1 1 auto;
}

.home-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.home-container .navbar {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20%;
}
.home-container .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.home-container .navbar ul .nav-item {
  list-style: none;
}
.home-container .navbar ul .nav-item a {
  text-decoration: none;
  color: rgb(150, 149, 149);
  text-transform: capitalize;
  font-family: "noto sans";
}

.toggle-btn {
  border: none;
  opacity: 0;
  color: white;
  background-color: black;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

@media only screen and (max-width: 450px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the start (top) of the column */
    gap: 10px; /* Add some spacing between items */
    padding-left: 0; /* Remove default padding from list */
  }
  .nav-item {
    display: none;
  }
  .toggle-btn {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
  }
  .navbar {
    margin-right: 0 !important;
    justify-content: space-between !important;
  }
}/*# sourceMappingURL=style.css.map */